<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <form method="post">
        {% csrf_token %}
        <label for="codigo">Codigo:</label>
        <input type="text" name="codigo">

        <label for="titulo">Codigo:</label>
        <input type="text" name="titulo">

        <input type="submit" value="actualizar">
    </form>

    {% if libro %}
        <H3>Libro: {{ libro.codigo }}<H3>
        <p>Combio su titulo a {{ libro.titulo }}</p>
        <strong>Actualizado exitosa.</strong>
    {% endif %}

</body>
</html>
















